@{
    ViewData["Title"] = "Additional services";
    ViewData["Subtitle"] = "Extra support to tailor your logistics flow.";
}
<partial name="~/Views/Shared/_AboutHero.cshtml" />
<ul>
    <li>Insurance</li>
    <li>SOP creation / lane setup</li>
    <li>Packaging and crating</li>
    <li>Weekend/holiday delivery</li>
</ul>
